# Build and Release Folders
DimensionalBeats/DimensionalBeats/bin/
DimensionalBeats/DimensionalBeats/obj/Debug/
DimensionalBeats/.vs/DimensionalBeats/v15/.suo
DimensionalBeats/DimensionalBeats/Content/obj/DesktopGL/
DimensionalBeats/DimensionalBeats.sln
